body {    
    font-family: "Open Sans", sans-serif;    
    margin: 0;
    padding: 0;
    display: flex;
    color: rgb(51, 51, 51);
    background-color: #ffffff;
}

.site-wrapper {    
    flex-direction: column;
    margin: 0 auto;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #dd3333;
}

.header-wrapper .logo {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.logo-text {
    text-align: center;
    font-weight: 600;
}
.logo-text p {
    margin: 2px;
    text-align: center;
    font-weight: 600;
}

/* Header styles */
header {
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #dd3333;
}

.book-button {
    background-color: #A0DCC6;  /* Mint Green Color */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;  /* To create the rounded effect */
    font-weight: bold;
    font-size: 16px;  /* Adjust as needed */
    cursor: pointer;  /* To change cursor to hand icon when hovering over button */
    transition: 0.3s;  /* Smooth transition for hover effects */
}
.book-button:hover {
    background-color: #3ca07b;  /* Slightly darker color for hover effect */
}

.section-title {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: rgb(102,102,102);
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;    
    list-style-type: none;
    align-items: center;
}
nav a {
    margin-right: 22px;
    text-decoration: none;
    color: #333;
}
nav a.current {
    color: #dd971b;
    text-decoration: none;
}
nav a:last-child {
    margin-right: 0;
}
nav a:hover {
    color: #dd971b;
}

main {
    display: flex; 
    justify-content: space-between; 
    width: 1100px;
    padding-top: 30px;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
    height: 80px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #0056b3;
}

img.wrap-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.wrap-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}


.floating-sidebar {    
    width: 250px;
    height: 230px;
    background-color: #e74c3c;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: center;
}

.floating-sidebar .title {
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
}

.floating-sidebar p {
    color: #fff;
    margin: 10px 0;
    font-size: 14px;
}

.floating-sidebar button {
    display: block;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #fff;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-card i {
    margin-right: 10px;
}

.text-block p {
    font-weight: 400;
    line-height: 1.6;
}

.text-block .question {
    font-weight: bold;
    margin-top: 30px;
}
