
    <div class="contact-card">        
        <p><i aria-hidden="true" class="fas fa-map-marker-alt"></i>235-889 Carnarvon St, New Westminster, BC V3M 1G2</p>        
        <p><i aria-hidden="true" class="fas fa-envelope"></i><a href="mailto:hopetcmclinic@gmail.com">hopetcmclinic@gmail.com<a></p>
        <p><i aria-hidden="true" class="fas fa-phone-alt"></i>(778) 251-9656</p>
        <p><i aria-hidden="true" class="fas fa-clock"></i>Mondays - Sundays: 8:00 AM to 5:00 PM</p>
    </div>
    <div style="margin-top:30px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.976425638737!2d-122.91749432289889!3d49.20100677138064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485d86fc3366269%3A0xc67dad28555f5c62!2s889%20Carnarvon%20St%20%23235%2C%20New%20Westminster%2C%20BC%20V3M%201G2!5e0!3m2!1sen!2sca!4v1697314789913!5m2!1sen!2sca" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
