
    
    <div style="text-align: center;">
        <h2><strong>WE ARE OPEN!</strong></h2>
        <h1><a href="https://hopetcmclinic.janeapp.com/#/staff_member/1" target="_blank"><strong>BOOK AN APPOINTMENT NOW</strong></a></h2>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="text-align: center; width:90%;">
            <img src="./images/Inner-Chinese.jpg" style="width:100%; height:auto;" >
        </div>
<!--
        <div>
            <div style="text-align: center;margin: 30px 0px;">
                <span class="section-title">Rates</span>
            </div>

            <div class="text-block" style="padding: 0 0px">
                    <p class="question">
                        Acupuncture
                    </p>
                    <p>
                        <li>Initial visit - 90 min  $120 ($20 off promotion)</li>
                        <li>Subsequent visit - 60 min $100</li>
                    </p>                        
            </div>
        </div>

-->

        <div>
            <div style="text-align: center;margin: 30px 0px;">
                <span class="section-title">Frequently Asked Questions</span>
            </div>

            <div class="text-block" style="padding: 0 0px">
                    <p class="question">
                        How can I prepare for my first visit?
                    </p>                
                    <p>
                    Please complete the online intake and consent forms before your appointment, which takes about 20 minutes. Alternatively, you can arrive early and fill them out in person. It's advisable to have a light meal or snack 1-2 hours before your treatment. Avoid consuming coffee or other stimulating beverages before your visit.
                    </p>
                        
                    <p class="question">
                        What can I expect on the first visit?
                    </p>                    
                    <p>
                        During your treatment session, we will discuss your past medical history, current symptoms, and concerns within a relaxed and supportive setting. I will craft a customized treatment plan to enhance your well-being and overall health, incorporating acupuncture and other traditional Chinese medicine therapies.
                    </p>
                        
                    <p class="question">
                        How many treatments do I need?
                    </p>
                        
                    <p>
                        Treatment course varies depending on the issue, with acute problems often resolving quickly and chronic conditions requiring ongoing care. Consistent acupuncture treatments produce reliable results.
                    </p>
                        

                    <p class="question">
                        Are there any side effects?
                    </p>
                        
                    <p>
                        People's responses to acupuncture vary; some feel energized, while others experience deep relaxation or giddiness. Regardless of your reaction, the relaxing effects of the treatment can extend throughout the day. It's recommended to rest and take it easy for the rest of the day. If you are significantly affected by acupuncture, please arrange for a safe journey home.
                    </p>
                
            </div>
        </div>
    <div>