
    <div class="flex flex-col text-center">
        <div style="text-align: center; width:90%;">
            <img src="./images/Inner-Chinese.jpg" style="width:100%; height:auto;" >
        </div>

        <div style="width:100%">
            <div style="text-align: center;margin: 30px 0px;">
                <span class="italic text-4xl font-light">Rates</span>
            </div>
        
            <div class="flex flex-col table_text" style="width:100%">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td width="50%">Initial Acupuncture Treatment - 90 min</td>
                            <td>$120</td>
                            
                        </tr>
                        <tr>
                            <td>Subsequent Acupuncture Treatment - 60 min</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>Initial Herbal Treatment - 30 min</td>
                            <td>$50</td>
                        </tr>
                        <tr>
                            <td>Subsequent Herbal Treatment - 20 min</td>
                            <td>$30</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mt-4">
                    <a href="https://hopetcmclinic.janeapp.com/#/staff_member/1/treatment/1"><strong>BOOK NOW</strong></a>
                </div>
            </div>            
        </div>
        
        <div>
            <div style="text-align: center;margin: 30px 0px;">
                <span class="italic text-4xl font-light">Frequently Asked Questions</span>
            </div>

            <div class="text-block text-left" style="padding: 0 0px">
                <p class="question">
                    Do you accept ICBC patients?
                </p>
                <p>
                    Yes, we are ICBC registered Acupuncture vendor. Please note, if the cost of your treatment is not covered by the ICBC rate below, you will be responsible to pay the difference.
                </p>
                <br>
                <p>
                    <div class="table_text" style="margin-left: 20px;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td width="50%">Initial Treatment & Therapist Report</td>
                                    <td width="50%">ICBC pays the clinic $118.00</td>
                                </tr>
                                <tr>
                                    <td>Subsequent Treatments</td>
                                    <td>ICBC pays the clinic $100.00</td>
                                </tr>
                                <tr>
                                    <td>Number of Preauthorized Treatments</td>
                                    <td>12 to be used in first 12 weeks post date of accident</td>
                                </tr>
                            </tbody>
                        </table>                      
                    </div>
                </p>

                <p class="question">
                    How can I prepare for my first visit?
                </p>
                <p>
                Please complete the online intake and consent forms before your appointment, which takes about 20 minutes. Alternatively, you can arrive early and fill them out in person. It's advisable to have a light meal or snack 1-2 hours before your treatment. Avoid consuming coffee or other stimulating beverages before your visit.
                </p>
                    
                <p class="question">
                    What can I expect on the first visit?
                </p>                    
                <p>
                    During your treatment session, we will discuss your past medical history, current symptoms, and concerns within a relaxed and supportive setting. I will craft a customized treatment plan to enhance your well-being and overall health, incorporating acupuncture and other traditional Chinese medicine therapies.
                </p>
                    
                <p class="question">
                    How many treatments do I need?
                </p>
                    
                <p>
                    Treatment course varies depending on the issue, with acute problems often resolving quickly and chronic conditions requiring ongoing care. Consistent acupuncture treatments produce reliable results.
                </p>
                    

                <p class="question">
                    Are there any side effects?
                </p>
                    
                <p>
                    People's responses to acupuncture vary; some feel energized, while others experience deep relaxation or giddiness. Regardless of your reaction, the relaxing effects of the treatment can extend throughout the day. It's recommended to rest and take it easy for the rest of the day. If you are significantly affected by acupuncture, please arrange for a safe journey home.
                </p>                            
            </div>
        </div>
    <div>