<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Acupuncture,Traditional Chinese Herbs,Cupping,Gua Sha,Moxibustion,中医,中药,针灸,艾灸,刮痧,拔罐,New Westminster,Vancouer">
    <title>Hope Traditional Chinese Medicine Clinic</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="site-wrapper">
        <div class="header-wrapper">
            <header>
                <div class="logo">
                    <div style="margin-right: 10px;">
                        <img src="./images/logo.png" alt="Hope Traditional Chinese Medicine Clinic" style="width: 100px;">
                    </div>
                    <div class="logo-text">
                        <p>HOPE TRADITIONAL</p>
                        <p>CHINESE MEDICINE CLINIC</p>
                        <p>向&nbsp;&nbsp;陽&nbsp;&nbsp;中&nbsp;&nbsp;醫&nbsp;&nbsp;診&nbsp;&nbsp;所</p>
                    </div>
                </div>
                <div>
                    <nav>
                        <a href="./index.html" {% if name == "index" %} class="current" {% endif %}>Home</a>
                        <a href="./therapists.html" {% if name == "therapists" %} class="current" {% endif %}>Therapists</a>
                        <a href="./treatments.html" {% if name == "treatments" %} class="current" {% endif %}>Treatments</a>
                        <a href="./blog.html" {% if name == "blog" %} class="current" {% endif %}>Blog</a>            
                        <a href="./contact.html" {% if name == "contact" %} class="current" {% endif %}>Contact</a>
                        <a href="#"><strong>Book Appointment</strong></a>
                    </nav>        
                </div>
            </header>
        </div>

        <main>
            <div {% if name != "index" %}style="width: 800px;"{% endif %}>
                {% set incMain = name + ".j2" %}
                {% include incMain %}
            </div>

            {% if name != "index" %}
            <aside class="floating-sidebar">
                <div class="title">Make Your Appointment</div>
                <p>Get Started With Your Treatment</p>
                <p>Schedule A Time With</p>
                <p>Dr. (Eva) Fang Yuan</p>
                <button>BOOK NOW</button>
            </aside>
            {% endif %}
        </main>

        <!-- Footer -->
        <footer>
            Copyright © 2023. HOPE TRADITIONAL CHINESE MEDICINE CLINIC    
        </footer>
    </div>
</body>
</html>
