<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Acupuncture, Traditional Chinese Herbs, Cupping, Gua Sha, Moxibustion">
    <title>Hope Traditional Chinese Medicine Clinic</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <div class="site-wrapper">
        <div class="header-wrapper">
            <header>
                <div class="logo">
                    <div style="margin-right: 10px;">
                        <img src="./images/logo.png" alt="Hope Traditional Chinese Medicine Clinic" style="width: 80px;">
                    </div>
                    <div>
                        <p>HOPE TRADITIONAL CHINESE MEDICINE</p>
                        <p>向阳中医诊所</p>
                    </div>
                </div>
                <div>
                    <nav>
                        <a href="./index.html" {% if name == "index" %} class="current" {% endif %}>Home</a>
                        <a href="./therapists.html" {% if name == "therapists" %} class="current" {% endif %}>Therapists</a>
                        <a href="./treatments.html" {% if name == "treatments" %} class="current" {% endif %}>Treatments</a>
                        <a href="./blog.html" {% if name == "blog" %} class="current" {% endif %}>Blog</a>            
                        <a href="./contact.html" {% if name == "contax" %} class="current" {% endif %}>Contact</a>
                        <a href="#"><strong>Book Appointment</strong></a>
                    </nav>        
                </div>
            </header>
        </div>

        <!-- Main content -->
        <main>
            {% set incMain = name + ".j2" %}
            {% include incMain %}
        </main>

        <!-- Footer -->
        <footer>
            Copyright © 2023. HOPE TRADITIONAL CHINESE MEDICINE CLINIC    
        </footer>
    </div>
</body>
</html>
