@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a:link {
    text-decoration: underline;
}

.nav-links a:link {
    text-decoration: none;
}

img.wrap-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.wrap-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.text-block p {
    font-weight: 400;
    line-height: 1.6;
}

.text-block .question {
    font-weight: bold;
    margin-top: 30px;
}

.table_text {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    line-height: 1.6;
}




.subtitle {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}