



<div>
    <h1 class="text-red-700 mb-12 font-bold">(Eva) Fang Yuan - Registered Acupuncturist and Doctor of TCM</h1>

    <div>
        <img class="wrap-left" src="images/Eva.jpg" width="180" height="225"/>
        
        <p>
            Eva is a Doctor of Traditional Chinese Medicine currently registered with the CTCMA of British Columbia. She graduated from the renowned Tzu Chi International College of Traditional Chinese Medicine College in Vancouver.
        </p><br>

        <p>
        Eva is interested in and is particularly good in digestive issues, emotional disturbances, and women’s health. Eva is also experienced with treating acute and chronic pain related to sports injuries and many others. She utilizes a mix of Acupuncture, FSN (Fu's Subcutaneous Needling), Traditional Chinese Herbal, Cupping, Auricular acupuncture, Moxibustion and Gua Sha (Scraping).
        </p><br>

        <p>
        Eva advocates for the use of alternative medicines when they can reduce the use of pharmaceutical prescriptions, which sometimes have potentially undesirable side effects, and prevent unnecessary invasive surgeries. Eva is proud to offer clients a path to wellness in a natural way.
        </p><br>
        
        <p>
        Being a devout believer in Taoism, Eva incorporates the Taoist philosophy of maintaining “The harmony between human and nature” into her practice. Eva loves to see her clients living a natural and balanced lifestyle.
        </p><br>
        
        <p>
        When Eva is not at work, she enjoys spending time with family and friends and sharing delicious homemade treats with them.
        </p>        
    </div>
</div>

